body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}
.top-wrapper{
  background-image:url(https://data.ac-illust.com/data/thumbnails/9e/9e7c25d4ea2e06534ee8915e10c18625_t.jpeg);
  height:500px;
  width:100%;
  text-align: center;
  background-size:cover;
  padding-top: 300px;
}

.container{
  width:1500px;
  margin: 0 auto;
}

h1{
  font-size:100px;
  margin: 20px 0px;
}

h1,h2{
  color:#ff1493;
}

p{
  letter-spacing:2px;
}

.contents-list{
  float: left;
  display:inline-block;
  margin-right: 10px;
  font-weight: bold;
  font-size:20px;
  text-align: center;
  width:1500px;
}

.contents-list a{
  padding: 10px 10px;
  border-bottom:1px solid #ff1493;
}
.contents-list a:hover{
  border-bottom:1px dotted #ff1493;
}

.heading{
 text-align: center;
 margin-bottom: 50px;
 border-bottom:5px solid #ff1493;
}

h3{
  font-size:40px;
  margin-bottom: 20px;
}

.contents-item p{
  line-height: 10px;
  text-align: center;
  margin:30px 0px;
  font-size:20px;
}

.osusume{
width:500px;
margin: 0 auto;
}

.osusume-goods p{
 text-align:left;
 line-height:20px;
}

h4{
  font-size: 20px;
}

h5{
  text-align: center;
  background-color: #ff1493;
  color: white;
  padding:10px 0px;
  font-size: 20px;
}

.review{
width:1500px;
margin: 0 auto;
}

.review-title{
  text-align: center;
  font-size:30px;
  color: #ff1493;
  margin-bottom: 20px;
}

.review-goods p{
  font-weight: normal;
  color: black;
  line-height:20px;
  font-size:20px;
  width:500px;
  margin: 0 auto;
  padding: 20px 0px;
}

.review-subtitle{
  background-color: #ffc0cb;
  width:440px;
  margin: 0 auto;
  padding: 10px 30px;
  display: block;
}

.review-goods{
  width:500px;
  margin:0 auto;
}

h6{
  width:500px;
  margin: 0 auto;
  font-size: 20px;
  text-align:center;
  border-bottom:1px solid #ff1493;
  padding: 10px 0px;
}

.check{
 width: 500px;
 margin:0 auto;
 clear: both;
}

.check a{
  display:block;
  font-size: 20px;
  text-align:center;
  border:1px solid black;
  line-height: 70px;
  height: 70px;
  border-radius: 20px;
}

.check a:hover{
  background-color:#f5f5f5;
}

.category{
  width:1500px;
  margin: 0 auto;
}

.category-list{
  width: 600px;
  margin: 0 auto;
}

.category-item{
  float: left;
  width: 200px;
  text-align:center;
  margin: 20px ;
  display: inline-block;
}

.category-item:hover{
  border:1px solid #ff1493;
}

.category-item img{
  display: block;
  width: 200px;
  margin: 0 auto;
}

.category-item{
  text-align:center;
}

.price{
width:1500px;
margin: 0 auto;
}

.price-title{
  font-size: 20px;
  color: #ff1493;
  width:600px;
  margin: 0 auto;
}

.price-item{
  display: block;
  width: 500px;
  margin: 0 auto;
  border:1px solid gray;
}

.price-title{
  margin-bottom: 10px;
}

.price-subtitle{
  font-weight: bold;
  margin-left: 10px;
}

.price-item p{
  font-size: 20px;
  width: 500px;
  line-height: 25px;
  text-align: center;
}

h7{
  color: #ff1493;
  margin-left: 10px;
}

.delivery-message{
  width:1100px;
  margin:auto;
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 15px;
}

.title{
  font-weight: bold;
  font-size:20px;
  padding:15px 0px;
}

.delivery-message p{
  line-height:10px;
  text-align:left;
}
