body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}
.top-wrapper{
  background-image:url(https://data.ac-illust.com/data/thumbnails/9e/9e7c25d4ea2e06534ee8915e10c18625_t.jpeg);
  height:1000px;
  width:60%;
  background-size:cover;
}

.container{
  width:auto;
  margin:auto;
  text-align: center;
  padding-top: 300px;
}

h1{
  font-size:100px;
  margin: 20px 0px;
}

h1,h2{
  color:#ff1493;
}

.p{
  letter-spacing:2px;
}
